In [1]:
#----------------------------------------K-MEANS CLUSTERRING USING SKLEARN-------------------------------------------------------
import numpy as np
from sklearn import preprocessing,cross_validation,neighbors

C:\Users\Sai\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
import pandas as pd
import os
os.chdir('F:\\Python\\Data\\BreastCancer')

In [3]:
df=pd.read_csv('F:\\Python\\Data\\BreastCancer\\breast-cancer-wisconsin.data.txt')

In [4]:
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nuclei,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [5]:
df.replace('?',-99999,inplace=True)

In [6]:
#HERE REMOVING ID BEACAUSE IT HAS NO EFFECT
df.drop(['id'],1,inplace=True)

In [7]:
df.head()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nuclei,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [8]:
#here iam seperating dependent and independent variables
x=np.array(df.drop(['class'],1))

In [9]:
y=np.array(df['class'])

In [10]:
x_train, x_test, y_train, y_test=cross_validation.train_test_split(x,y,test_size=0.2)

In [11]:
clf=neighbors.KNeighborsClassifier()

In [12]:
clf.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [13]:
clf.score(x_test,y_test)

0.97142857142857142

In [14]:
#predicting
#here we are using len(example) it is nothing but just specifying the no of rows to be divided 
#here -1 indicates last possible column number
example=np.array([[4,2,1,1,1,2,3,2,1],[5,3,6,5,2,8,1,1,1]])
example=example.reshape(len(example),-1)

In [15]:
predict=clf.predict(example)

In [16]:
print(predict)

[2 4]

In [17]:
#small example to clear the doubt for -1 in above thing
arr=np.array([[1,2,3,4,8,6],[5,6,7,8,6,7]])

In [18]:
len=arr.reshape(4,-1)

In [19]:
arr

array([[1, 2, 3, 4, 8, 6],
       [5, 6, 7, 8, 6, 7]])

In [20]:
len

array([[1, 2, 3],
       [4, 8, 6],
       [5, 6, 7],
       [8, 6, 7]])