In [93]:
import numpy as np
from sklearn import preprocessing,cross_validation,neighbors,svm
import pandas as pd

In [2]:
import os
os.chdir('F:\Data science\R-DS')

In [58]:
df=pd.read_csv('F:\Data science\R-DS\Loan_data.csv')

In [59]:
df.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [68]:
#to check missing values
df[df.isnull().any(1)]
df['credit.policy'] = df['credit.policy'].astype('category')
df['inq.last.6mths'] = df['inq.last.6mths'].astype('category')
df['delinq.2yrs'] = df['delinq.2yrs'].astype('category')
df['ipub.rec'] = df['pub.rec'].astype('category')
df['not.fully.paid'] = df['not.fully.paid'].astype('category')

In [86]:
#here iam seperating dependent and independent variable
df.drop(['purpose'],1,inplace=True)
x=np.array(df.drop(['not.fully.paid'],1))

In [88]:
y=np.array(df['not.fully.paid'])

In [89]:
x_train, x_test, y_train, y_test=cross_validation.train_test_split(x,y,test_size=0.2)

In [90]:
clf=svm.SVC(kernel='rbf')

In [91]:
clf.fit(x_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [92]:
clf.score(x_test,y_test)

0.82828810020876831